ABS_STORAGE_API_URL=https://connection.eu-central-1.keboola.com
ABS_STORAGE_API_TOKEN=xxx
SNOWFLAKE_STORAGE_API_URL=https://connection.eu-central-1.keboola.com
SNOWFLAKE_STORAGE_API_TOKEN=xxx
SYNAPSE_STORAGE_API_URL=https://connection.keboola.com/
SYNAPSE_STORAGE_API_TOKEN=xxx
